.backButton {
  position: absolute;
}

.counter {
  position: absolute !important;
  top: 30% !important;
  left: 45% !important;
  font-size: 10rem !important;
  font-weight: bold !important;
  letter-spacing: -0.025em !important;
}

.btnGroup {
  position: relative;
  top: 500px;
  width: 480px;
  margin: 0 auto;
}

.btn {
  font-size: 1.6rem;
  font-weight: bold;
  background-color: #fff;
  border-radius: 50%;
  margin: 10px;
  width: 100px;
  height: 100px;
  opacity: 0.7;
  cursor: pointer;
  font-family: Arial, Helvetica, Helvetica Neue, sans-serif;
}

.btn:hover {
  color: white;
  background-color: rgba(0, 0, 0, 0.5);
}
